@import 'http://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:300,400)';

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  background: url(./background.jpg) center center no-repeat #666666;
  background-size: cover;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

hr{
  width: 50%;
  margin: 20px auto;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: block;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}

hr.small{
  width: 15%;
}

#overlay{
  background-color: rgba(83, 83, 83, 0.9);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

#content{
  z-index: 99;
  text-align: center;
  width: 600px;
  height: 350px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 1.7em;
}

#content .avatar{
  border-radius: 50%;
  border: 3px solid #FFF;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

#content h1{
  margin-top: 10px;
}

#content .blog{
  margin-right: 5%;
  padding: 10px 20px;
}

#content .social{
  margin-top: 30px;
}

#content a{
  padding: 10px 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  color: rgba(210, 210, 210, 1);
}

#content a:hover{
  color: #fff;
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
}

#content i{
  font-size: 1.7em;
  vertical-align: middle;
}

@font-face {
  font-family: "foundation-icons";
  src: url("./foundation-icons/foundation-icons.eot");
  src: url("./foundation-icons/foundation-icons.eot?#iefix") format("embedded-opentype"), url("./foundation-icons/foundation-icons.woff") format("woff"), url("./foundation-icons/foundation-icons.ttf") format("truetype"), url("./foundation-icons/foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;}
